a {
    color: #fff;
}

/*
i:hover {
    color: #4ABDAC;
    cursor: pointer;
}
i:visited {
    color: #252525;
}
.gh-ic {
    color: #000;
}
.li-ic {
    color: #000;
}
.tw-ic {
    color: #000;
}
.gplus-ic {
    color: #000;
}
.ins-ic {
    color: #000;
}
.footer_email:hover {
    cursor: pointer;
    color: #4ABDAC;
}
.footer_address:hover {
    cursor: pointer;
    color: #4ABDAC;
}
.footer_phone:hover {
    cursor: pointer;
    color: #4ABDAC;

}

*/


