.topbar {
    background: #fff;
    height: 46px;
    border-bottom: 1px solid rgb(0,0,0,.15);
    transition: background .25s ease-in-out;
}
.topbar-socials {
    border-right: 1px solid rgb(0,0,0,.15);
    padding: 0 17px;
    line-height: 27px;
    display: block;
    float: left;
    margin-top: 9px;
    transition: .25s;
}
.topbar-contact {
    margin: 0 15px;
}
